* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./bg.webp');
  background-position: center;
  background-size: cover;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: #004e98;
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
  text-align: center;
}

h1 {
  margin-block-end: 2.5rem;
  letter-spacing: 0.5rem;
  font-size: 3rem;
}

ul {
  list-style-type: none;
}
li {
  padding-block-end: 0.75rem;
  transition: all 250ms ease;
}

li a {
  color: #004e98;
  text-decoration: none;
  transition: all 250ms ease;
}

li:hover {
  transform: translateX(5px);
}

li a:hover {
  color: #7a4a7e;
}
