.Navigation {
  position: relative;
  .destopImg {
  }
  .mobileImg {
    display: none;
  }
  .container {
    position: absolute;
    top: 5%;
    left: 10%;

    .step {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      color: var(--White);
      margin-block-end: 2rem;
      text-transform: capitalize;
      font-weight: 500;
      p {
        margin: 0;
      }
      .num {
        height: 2rem;
        width: 2rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        justify-content: center;
        border: 1px solid var(--Pastel-blue);
        border-radius: 999px;
      }
      .numMark {
        height: 2rem;
        width: 2rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        justify-content: center;
        border: 1px solid var(--Pastel-blue);
        border-radius: 999px;
        background: var(--Pastel-blue);
        color: var(--Marine-blue);
      }
      .name {
        p {
          color: var(--Pastel-blue);
          font-weight: 300;
          text-transform: uppercase;
        }
        .page {
          font-weight: bold;
          letter-spacing: 0.05em;
          color: var(--White);
        }
      }
    }
  }
}
