.Navigation {
  position: relative;
  .destopImg {
  }
  .mobileImg {
    display: none;
  }
  .container {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);

    .step {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      color: white;
      margin-block-end: 2rem;
      text-transform: capitalize;
      p {
        margin: 0;
      }
      .num {
        height: 2rem;
        width: 2rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        justify-content: center;
        border: 1px solid white;
        border-radius: 999px;
      }
      .numMark {
        height: 2rem;
        width: 2rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        justify-content: center;
        border: 1px solid white;
        border-radius: 999px;
        background: white;
        color: black;
      }
      .name {
      }
    }
  }
}
